mixin footer()
	footer
		.footer-fixed
			button#makeOrderBtn.defBtn.Btn-Flamenco сделать заказ
		.footer
			.footer__top
				.container
					.footer__top-inner
						ul.def-ul
							li.firstStage
								h3
									a.defLink.arrowDown(href='#') Продукция
								ul.def-ul
									li
										a.defLink.h-Flamenco-1(href='#') Трубопроводная и запорно-регулирующая арматура
									li
										a.defLink.h-Flamenco-1(href='#') Детали трубопроводов
									li
										a.defLink.h-Flamenco-1(href='#') Опоры трубопроводов
									li
										a.defLink.h-Flamenco-1(href='#') Контрольно-измерительные приборы
									li
										a.defLink.h-Flamenco-1(href='#') Отопительное оборудование
									li
										a.defLink.h-Flamenco-1(href='#') Компенсаторы
									li
										a.defLink.h-Flamenco-1(href='#') Уплотнители и крепеж
									li
										a.defLink.h-Flamenco-1(href='#') Трубы
									li
										a.defLink.h-Flamenco-1(href='#') Фитинги
									li
										a.defLink.h-Flamenco-1(href='#') Теплоизоляция
									li
										a.defLink.h-Flamenco-1(href='#') Канализационное оборудование
									li
										a.defLink.h-Flamenco-1(href='#') Противопожарное оборудование
							li.firstStage
								h3
									a.defLink.arrowDown(href='#') Услуги
								ul.def-ul
									li
										a.defLink.h-Flamenco-1(href='#') Металлообработка
									li
										a.defLink.h-Flamenco-1(href='#') ППУ, ВУС, ППМ, ЦПИ изоляция
									li
										a.defLink.h-Flamenco-1(href='#') Грунтовка и покраска металла
									li
										a.defLink.h-Flamenco-1(href='#') Цинкование металла
							li.firstStage
								h3
									a.defLink.arrowDown(href='#') Контакты
								ul.def-ul
									li
										a.defLink.h-Flamenco-1(href='#') Контактная информация
									li
										a.defLink.h-Flamenco-1(href='#') Напишите нам
									li
										a.defLink.h-Flamenco-1(href='#') Обратный звонок
									li
										a.defLink.h-Flamenco-1(href='#') Написать руководителю
							li.firstStage
								h3
									a.defLink.arrowDown(href='#') О компании
								ul.def-ul
									li
										a.defLink.h-Flamenco-1(href='#') О компании
									li
										a.defLink.h-Flamenco-1(href='#') Новости 
									li
										a.defLink.h-Flamenco-1(href='#') Вакансии
							li.firstStage
								h3
									a.defLink.arrowDown(href='#') Клиентам
								ul.def-ul
									li
										a.defLink.h-Flamenco-1(href='#') Как сделать заказ 
									li
										a.defLink.h-Flamenco-1(href='#') Оплата
									li
										a.defLink.h-Flamenco-1(href='#') Банковские реквизиты
									li
										a.defLink.h-Flamenco-1(href='#') Юридическая информация 
									li
										a.defLink.h-Flamenco-1(href='#') Статьи
									li
										a.defLink.h-Flamenco-1(href='#') Частые вопросы
							li.firstStage
								h3
									a.defLink(href='#') Доставка
								h3
									a.defLink(href='#') Личный кабинет
								h3
									a.defLink(href='#') Бренды
							li.firstStage
								.contacts
									a.defLink.logo(href='index.html')
										img(src='assets/svg/logo-white.svg' alt='')
									ul.def-ul
										li Пн - Пт с 09:00 до 21:00
										li Сб - Вс с 11:00 до 19:00
									a.defLink.h-Flamenco-1.phone(href='tel:8(495)3747472') 8 (495) 374-74-72
									a.defLink.h-Flamenco-1(href='mailto:sales@staleron-group.ru') sales@staleron-group.ru
									ul.def-ul.social-media
										li
											a(href='#')
												img(src='../../../assets/svg/social-media01.svg' alt='')
										li
											a(href='#')
												img(src='../../../assets/svg/social-media02.svg' alt='')
										li
											a(href='#')
												img(src='../../../assets/svg/social-media03.svg' alt='')
										li
											a(href='#')
												img(src='../../../assets/svg/social-media04.svg' alt='')
										li
											a(href='#')
												img(src='../../../assets/svg/social-media05.svg' alt='')
			.footer__bottom
				.container
					.footer__bottom-inner
						p © ТПА24, 2019
			.anchor
				i.icon-1-0_arrow
	