mixin SimpleBlock(img,name,text)
	.col-12.col-md-6.col-lg-4.SimpleBlock
		.d-flex.flex-column
			a.my-2(href="#")
				img.d-block.w-100(src=img alt="...")
			a(href="#" style="text-decoration:none;color:black;")=name
			p=text