// start .sSimpleBlock
.SimpleBlock {
	p{
		font-size:13px;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {
		border-bottom: 0px solid #eaeaea;
	}
	@include media-breakpoint-up(xs) {
		border-bottom: 2px solid #eaeaea;
	}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sSimpleBlock