// mixin для Фона
@mixin bg($src, $media:xy, $path:xy) {
  @if $media==xy {
    @if $path==xy {
      background-image: url(#{$url}#{$path2}#{$src});
    }

    @else if $path==1 {
      background-image: url(#{$url}#{$path1}#{$src});
    }

    @else {
      background-image: url(#{$url}#{$path}/#{$src});
    }
  }

  @else {
    @include media-breakpoint-up($media) {

      background-image: url(#{$url}#{$path2}#{$src});
    }

    background-image: url(#{$url}#{$path1}#{$src});

  }
}

// обсалютное центрирование

@mixin a-cent($xy:xy) {
  @if $xy==xy {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translate(-50%, -50%);
  }

  @else if $xy==x {
    position: absolute;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }

  @else if $xy==y {
    position: absolute;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
}


@mixin roww($a) {
  --bs-gutter-x: #{$a};

  margin-left: calc(-1 * var(--bs-gutter-x)/ 2);
  margin-right: calc(-1 * var(--bs-gutter-x)/ 2);

  >* {
    padding-left: calc(var(--bs-gutter-x)/2);
    padding-right: calc(var(--bs-gutter-x)/2);
  }
}

@mixin center($w) {
  margin-left: auto;
  margin-right: auto;
  max-width: $w;
}
 

@mixin bgs($w: center, $h: center) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: $w $h;
}

@mixin img-bg($w: center, $h: center) {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: $w $h;

  img {
    position: absolute;
    // opacity: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}



@mixin bgsn($img, $w: center, $h: center) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url($img);
}

@mixin mt($s: .36) {
  transition: all #{$s}s;
}

// михин многоточия
@mixin ellips {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  // display: block;
  // display: inline-block;
}


@mixin input-placeholder {
  &.placeholder {
    @content;
  }
}

// масштвбирование блока пропорционально
@mixin block($w: 1, $h: 1) {
  display: block;
  position: relative;

  &::before {
    position: relative;
    content: '';
    position: relative;
    height: 0;
    display: block;
    padding-bottom: ($h/$w *100%);
  }
}

@mixin round($w) {
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: $w;
  height: $w;
}

// для анимации
@mixin keyfr($name) {

  @keyframes #{$name} {
    @content;
  }
}
