:root {

	--fontSizeBase: #{$em-base};
	@include media-breakpoint-up(md) {

		--sPT: #{rem(80)};
		--sPB: #{rem(90)};
		--sTPB: #{rem(40)};
	}

	--sPT: #{rem(80 / 2)};
	--sPB: #{rem(90 / 2)};
	--sTPB: #{rem(40 / 2)};
}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

//
@include media-breakpoint-between(md, xl) {}


//
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

//
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}