// start .sLongMenu
#LongMenu {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
	align-items: start;
  a{
        color:white; 
  }
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {
		a{
			font-size:16px;
			padding:0.8rem;
		}
	}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {
		a{
			font-size:13px;
		}
	}
	@include media-breakpoint-up(xs) {
		a{
			font-size:11px;
			padding:0.3rem;
		}
	}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
}