extends layout/main.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sSimpleBlock/_sSimpleBlock.pug
block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'Пляжи'
	title= title
block pagecontent
	//+mob-mnu()
	.container-fluid.pb-lg-5#Menu(style="background-color:#008ece;")
		+navbar
	h2.text-center.my-4=title
	.container
		p.Preface="Donec imperdiet nunc orci, id condimentum lectus tincidunt eget. Pellentesque nec porta lacus. In cursus lacus at tortor laoreet mollis. Curabitur magna lorem, accumsan vitae nisi at, sodales malesuada quam. Donec eu est interdum, faucibus ligula vitae, iaculis libero. Nullam feugiat nisi vel ipsum rutrum, eget rutrum dui lacinia. Nunc rutrum, est eget varius feugiat, massa enim lobortis diam, in aliquet elit eros sit amet ex. Proin at turpis mi. Vestibulum vestibulum, velit sed condimentum tempor, turpis ligula pulvinar leo, non commodo nulla est a sapien. Vestibulum vestibulum erat quis mi gravida tempus. Proin gravida nisl vitae elit luctus condimentum."
		.row.d-flex.justify-content-center
			+SimpleBlock('img/beach/beach1.PNG','Болгария','Пляжный отдых в Болгарии популярен в России еще с советских времен. Золотые пески, Солнечный берег, Варна и Бургас давно известны нашим туристам. Великолепная болгарская кухня, замечательное отношение к русским путешественникам, множество интересных достопримечательностей делают отдых в Болгарии запоминающимся. Познакомьтесь с новыми курортами страны и оцените ее современные отели!')
			+SimpleBlock('img/beach/beach2.PNG','Греция','Греция – страна двух тысяч островов и миллионов бухт с великолепными пляжами. Выбирайте отель на островах или Пелопоннесе – во время отпуска вам гарантировано чистое море, отличные пляжи и прекрасное солнечное настроение. Уникальные памятники, качественные отели с превосходным сервисом, изумительная природа и отличная кухня подарят радость и любовь к жизни.')
			+SimpleBlock('img/beach/beach3.PNG','Доминикана','Пляжный отдых в стране вечного лета – это роскошный белоснежный песок и аквамариновое море, пышная тропическая природа и отличный сервис. Коралловые рифы и богатый подводный мир привлекают в Доминикану любителей дайвинга. Пляжи Баваро и Саманы, спортивные развлечения Хуан-Долио и Бока-Чика, природные парки Ла-Романы и Уверо-Альто, эксклюзивные отели Кап-Каны ждут вас!')
			+SimpleBlock('img/beach/beach4.PNG','Египет','Жаркое солнце, теплое море и сокровища коралловых рифов делают Египет одним из самых привлекательных направлений для пляжного отдыха. Несколько часов полета – и вы окажетесь на берегу Красного моря. Здесь есть современные шумные курорты – Шарм-эль-Шейх и Хургада, уединенные Макади Бэй и Марса-Алам, спортивные «мекки» для серферов и кайтеров – Сафага, Таба, Дахаб.')
			+SimpleBlock('img/beach/beach5.PNG','Израиль','Пляжный отдых в Израиле – это возможность окунуться в воды сразу трех морей. Загорайте на просторных пляжах Средиземноморья, окунитесь в соленые воды Мертвого моря и полюбуйтесь на великолепный подводный мир Красного моря в Эйлате! Прекрасные отели, удобная инфраструктура, чистые пляжи – здесь все готово для безмятежного отдыха.')
			+SimpleBlock('img/beach/beach6.PNG','Индонезия','Экзотические пляжи Индонезии порадуют туристов разнообразием. Здесь вы найдете и классические пляжи «баунти» с белоснежным песком и кокосовыми пальмами, и места для пляжных тусовок, где всегда звучит музыка и собираются веселые компании, и чудесные пляжи с черным вулканическим песком, чья прибрежная полоса, словно зеркало, отражает облака, солнце и счастливых людей.')
			+SimpleBlock('img/beach/beach7.PNG','Испания','Невероятно разнообразные пляжные курорты Испании удовлетворят вкусы любого путешественника. Черные вулканические пляжи Тенерифе и Гран-Канарии, где царит вечная весна, шумные тусовки на Коста-Барселона-Гарраф, семейный отдых в уютных отелях Коста-Дорады и Майорки, экзотические ландшафты и пляжи Лансароте – даже самые взыскательные туристы найдут в Испании новые приятные впечатления.')
			+SimpleBlock('img/beach/beach8.PNG','Италия','Престижные фешенебельные города и популярные курортные поселки, семейный отдых и шумные тусовки, словом, в Италии вы найдете самые разнообразные курорты для пляжного отдыха. А также миллион поводов отдохнуть на Апеннинском полуострове или островах – Искье, Сицилии, Сардинии: великолепный шопинг и побережья потрясающей красоты, памятники мировой культуры и изысканная гастрономия.')
			+SimpleBlock('img/beach/beach9.PNG','Кипр','Безвизовая страна с греческими корнями и отличными пляжами – именно то, что требуется российским туристам, которые любят принимать решение о поездке к морю в самый последний момент. Через три с половиной часа полета вы окажетесь на одном из пляжей Кипра! Осталось только решить, будет это уединенный курорт, окруженный девственными лесами или шумный город с аквапарками и богатой ночной жизнью.')
			+SimpleBlock('img/beach/beach10.PNG','Китай','Тропический остров Хайнань – идеальное место для пляжного отдыха. Теплое море и песчаные пляжи, сертифицированные дайвинг-центры и богатый подводный мир прибрежных рифов, качественные отели и познавательные экскурсии, а также потрясающее мастерство китайских целителей подарят заряд бодрости и хорошего настроения!')
			+SimpleBlock('img/beach/beach11.PNG','Куба','Самый хорошо знакомый россиянам карибский остров не зря называют островом Свободы. Это остров свободы от зимы, холодов и дождей. Здесь каждый день сияет солнце, белоснежные пляжи манят чистотой, а удивительные птицы распевают песни по утрам и на закате. Ярко-лазурные воды Карибского моря таят сокровища подводного мира, а для любителей даров земли на Кубе найдутся великолепные сигары и ром.')
			+SimpleBlock('img/beach/beach12.PNG','Латвия','Хорошо знакомые российским путешественникам курорты Латвии идеально подходят всем, кто хотел бы отдохнуть у моря в умеренном климатическом поясе. Прекрасные отели и апартаменты, замечательная природа, лечебный морской воздух и великолепные санатории помогут восстановить здоровье и набраться сил для полной жизни. Многочисленные фестивали и праздники подарят море ярких впечатлений!')
	+footer