extends layout/main.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/header/_header.pug
include ../blocks/sLongMenu/_sLongMenu.pug
include ../blocks/sPicsInfo/_sPicsInfo.pug
include ../blocks/sFlightText/_sFlightText.pug
block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'Авиабилеты'
	title= title
block pagecontent
	//+mob-mnu()
	.container-fluid.pb-lg-5#Menu(style="background-color:#008ece;")
		+navbar
		.container
			+sLongMenu(4)
		.MenuForm
			+MenuForm3()
	.container.my-5
		.row.d-flex.flex-lg-row.flex-column.justify-content-center.align-items.center
			+sPicsInfo(1,'Служба заботы 24/7','Наша служба заботы поможет с бронированием авиабилета. Если у вас возник вопрос или трудности во время поездки, оператор будет круглосуточно на связи и найдёт решение в кратчайший срок')
			+sPicsInfo(2,'Дешевые авиабилеты','У нас можно купить авиабилеты онлайн по наиболее выгодным ценам. Узнайте 12 наших преимуществ, благодаря которым мы подбираем для вас самые дешевые авиабилеты')
			+sPicsInfo(3,'Качество и надежность','AviaTour - аккредитованный агент IATA (Международная ассоциация воздушного транспорт. За 25 лет нашей работы нашими услугами воспользовались более 10 миллионов пассажиров')
	+sCatalog("Авиаскидки",4,6,1)
	.container.mt-5
		h1.text-center.mb-5="12 причин покупать билеты у AviaTour"
		+FlightText('1. Кешбек','При покупке авиабилета онлайн на нашем сайте начисляется кешбэк в размере 3% от стоимости билета. Кешбэк выдается в виде промокода/сертификата, которым можно воспользоваться для оплаты будущих путешествий. Например, если авиабилет стоит 30 000 руб, то вы получите 900 руб. (3%) в виде промокода/сертификата на покупку тура. Вы можете передавать или дарить этот промокод/сертификат своим друзьям и знакомым')
		+FlightText('2. Разные авиакомпании','Когда по нужному вам маршруту летают несколько авиакомпаний, то на нашем сайте вы сможете забронировать перелет туда и обратно на разных авиакомпаниях, что может быть значительно дешевле. Например, туда летим на S7, а обратно Аэрофлотом"')
		+FlightText('3. Дешевые лоукост билеты','На нашем сайте вы можете найти лоукост перелеты по цене ниже, чем на официальном сайте самой авиакомпании. Это связано с тем, что некоторые лоукост авиакомпании дают разные тарифы и условия под каждый рынок, например, специальные цены получают пассажиры из стран Балтии"')
		+FlightText('4. Чартерные билеты и комбинации с чартерам','Все чартерные авиабилеты TEZ TOUR и чартеры наших партнеров доступны для онлайн бронирования по низкой цене. Также, мы предлагаем комбинации с чартерами (селф-коннект), например, из Анталии в Москву на чартере, а из Москвы в Казань на Аэрофлоте"')
		+FlightText('5. Селф-коннект','Селф-коннект — это самостоятельная стыковка между двумя рейсами. Долететь до Берлина на S7, а там сесть на Ryanair и улететь на Майорку по более низкой цене? Сайты авиакомпаний вам этого не покажут, а на нашем сайте вы запросто найдете и забронируете такой вариант. Конечно, есть риск, что стыковка «слетит» при задержке одного из рейсов, но мы продаем такие рейсы под собственную гарантию: если первый рейс задержат, то заботы о том, чтобы доставить вас в пункт назначения, возьмет на себя мы"')
		+FlightText('6. Непубличные тарифы','Некоторые тарифы доступны только на нашем сайте и их нет на сайтах авиакомпаний. На туристических направлениях часть мест продает сама авиакомпания, а часть мест распределяется между туроператорами, которые их продают по более низким ценам"')
		+FlightText('7. Тарифы для разных рынков','Для некоторых рынков авиакомпании дают специальные тарифы или условия, а благодаря тому, что у TEZ TOUR есть множество IATA аккредитованных офисов по всему миру, то это позволяет нам найти самую низку стоимость авиабилета для наших клиентов"')
		+FlightText('8. Возможность поиска дешевых авиабилетов без указания места назначения','Очень удобный инструмент, если вы ищете самый дешевый перелет из вашего региона, и, в принципе, не имеет значение куда. Для этого в поле Куда оставьте куда угодно. Например, можно посмотреть самые дешевые авиабилеты из Москвы на 13 июня на все возможные направления, или в поле куда можно указать целые континенты и страны (Азия, Европа, США и т.д)"')
		+FlightText('9. Расширенный поиск дат перелета','Кроме поиска по конкретным датам, наш поисковик дает возможность искать дешевые билеты на неделю, месяц или пол года вперед. Например, у Вас есть свободная неделя с 17 июня по 24 июня. Чтобы найти возможные перелеты, в поле "Туда" выберите "Период вылета" и укажите нужные даты. Так же в поле "Обратно" кроме определенной даты, интервала дат и возвращения в любое время, можно указать время пребывания, например от 2 до 7 ночей"')
		+FlightText('10. Войдирование','Войдирование (от слова VOID, аннулировать) — это возможность бесплатно аннулировать билет в тот же день. Если вы купили билет на сайте авиакомпании, а потом передумали, или поняли, что совершили ошибку при оформлении, то авиакомпания в лучшем случае предложит вам его или обменять со штрафом, или сдать со штрафом, а если билет по самому дешевому тарифу, он и вовсе сгорит. При бронировании на нашем сайте у вас есть возможность в день покупки билет «завойдировать» и отменить бесплатно с возвратом средств, за вычетом банковской комиссии за обработку платежа"')
		+FlightText('11. Возврат невозвратных билетов','Благодаря нашей услуге «страховка от невылета» вы можете отменить забронированный билет в связи с болезнью или другими форс-мажорными обстоятельствами. В таких случаях часть стоимости билета вернется вам в виде промокода на покупку будущих тур. услуг"')
		+FlightText('12. Авиаскидки','Авиаскидки - это сервис, который собирает все авиабилеты со скидками до -85% по разным направлениям с вылетом из городов России, Беларуси, Украины и Казахстана. Сервис авиаскидок каждые 5 мин отслеживает акции и распродажи авиакомпаний, предлагая все актуальные предложения пользователям нашего сайта. Перейти в раздел «Авиаскидок»"')
	+footer