extends layout/main.pug
include ../blocks/header/_header.pug
include ../blocks/sLongMenu/_sLongMenu.pug
include ../blocks/sPicsInfo/_sPicsInfo.pug
include ../blocks/sInfo2/_sInfo2.pug
block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'Отели'
	title= title
block pagecontent
	//+mob-mnu()
	.container-fluid.pb-lg-5#Menu(style="background-color:#008ece;")
		+navbar
		.container
			+sLongMenu(3)
			.MenuForm#MenuForm5
				+MenuForm5
	.container.my-5
		.row.d-flex.flex-lg-row.flex-column.justify-content-center.align-items.center
			+sPicsInfo(2,'Низкая цена','Благодаря прямым контрактам с множеством отелей и отельными поставщиками, мы находим для вас самую низкую стоимость проживания')
			+sPicsInfo(4,'Отели в любой точке мира','На нашем сайте вы можете выбрать любой подходящий вариант среди 1 000 000 отелей, хостелов, апартаментов и вилл по всему миру. Все объекты размещения мгновенно подтвердят вашу бронь')
			+sPicsInfo(1,'Служба заботы 24/7','Наша служба заботы поможет забронировать отель онлайн. Если у вас вопрос возник в поездке или при заселении, оператор будет круглосуточно на связи и найдёт решение в кратчайший срок')
	+sInfo2('Поиск и бронирование отелей онлайн','Подбор и бронирование отелей онлайн – это один из лучших вариантов спланировать и организовать свое путешествие самостоятельно. Мы предлагаем возможность забронировать проживание в более чем 1 000 000 отелях по всему миру. Курортные отели, бизнес-гостиницы, хостелы и апартаменты - размещение на любой вкус и бюджет вы сможете найти у нас на сайте. Удобная фильтрация и поиск по различным параметрам позволит вам найти вариант с лучшей ценой, условиями и оптимальным расположением, а забронировать понравившийся номер можно буквально в три шага.')
	+footer