extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'title'
	title= title
block pagecontent

	+mob-mnu()
	+header()
	+top-nav()
	+soc()
	+in-c("checkbox", "text") 
	+b.tabs--js 
		+e.caption.d-flex 
			+e.btn.btn.btn-info.active  btn1
			+e.btn.btn.btn-info btn 2
			+e.btn.btn.btn-info btn 3
			+e.btn.btn.btn-info btn 4
		+e.wrap 
			+e.content.active content 1
			+e.content content 2
			+e.content content 3
			+e.content content 4
	+b.tabs--js 
		+e.caption.d-flex 
			+e.btn.btn.btn-success.active  btn1
			+e.btn.btn.btn-success btn 2
			+e.btn.btn.btn-success btn 3
			+e.btn.btn.btn-success btn 4
		+e.wrap 
			+e.content.active content 1
			+e.content content 2
			+e.content content 3
			+e.content content 4

	+topLine() 
	+headerBlock()
	+sForm()
	+sContact()
	+footer()


	