extends layout/main.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/header/_header.pug
include ../blocks/sSvgButtons/_sSvgButtons.pug
block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'AviaTour'
	title= title
block pagecontent
	//+mob-mnu()
	.container-fluid.pb-lg-5#Menu(style="background-color:#008ece;")
		+navbar
		+header
	+headerBlock
	+sSvgButtons
	+sCatalog("Лучшие предложения для отдыха",1,6,1)
	+sCatalog("Хиты продаж",2,9)
	+footer()
			



