include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include ../../blocks/mixin-wrap/mixin-wrap.pug
include ../../blocks/form-wrap/form-wrap.pug
include ../../blocks/footer/_footer.pug 
include ../../blocks/modal/_modal.pug
include js-css.pug

include ../../blocks/header/_header.pug
include ../../blocks/topLine/_topLine.pug
include ../../blocks/top-nav/_top-nav.pug 
include ../../blocks/headerBlock/_headerBlock.pug
include ../../blocks/sForm/_sForm.pug

doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='x-ua-compatible' content='ie=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		block title
			title title
		meta(name='format-detection' content='telephone=no')
		meta(name='format-detection' content='address=no')
		link(rel='shortcut icon' href='assets/img/icons/favicon.ico' type='image/x-icon')
		// Стили общие для всего сайта - Начало
		//- link(rel='stylesheet' href='vendors/bootstrap-grid/grid.min.css')
		link(rel='stylesheet' href='vendors/swiper/swiper.min.css')
		link(rel='stylesheet' href='vendors/fancybox/jquery.fancybox.min.css')
		link(rel='stylesheet' href='vendors/scroll/jquery.mCustomScrollbar.min.css')
		link(rel='stylesheet' href='styles/main.css')
		// Стили общие для всего сайта - Конец
		// Стили на этой странице - Начало
		link(rel='stylesheet' href='templates/blocks/main-slider/main-slider.css')
		link(rel='stylesheet' href='templates/blocks/brend-customer-sliders/sliders.css')
		link(rel='stylesheet' href='templates/blocks/feedback-form/feedback.css')
		link(rel='stylesheet' href='templates/blocks/about-block/about-block.css')
		link(rel='stylesheet' href='templates/blocks/advantage-block/advantage-block.css')
		// Стили на этой странице - Конец
		+allcss()
		block variables
	body(class= mainPage) 
		.body__inner
			block pagecontent
					h3 content
	+modal()
	+allcjs()